@import "~bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oswald:wght@400;700&display=swap');

@import './colors.scss';
$largeBreakpoint: 1411px;
$mediumBreakpoint: 800px;
$smallBreakpoint: 400px;




body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family:'Oswald', sans-serif;
}
//Menu overrides
$menu-item-color: $white-ter;
$menu-item-hover-color: $black !important;
$menu-item-hover-background-color: $black;
$menu-item-active-color: $primary-invert;
$menu-item-active-background-color:$primary-invert;
$menu-list-border-left: 1px solid $primary-invert;
$menu-label-color: $white-ter;

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
}
  }

// Helper Classes
.full-width-image-container {

  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image {

  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {

  display: inline-block;
  padding: 12px 16px 10px;
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.25;
  background-color: #422260;  border-radius: .25rem;
  text-decoration: none;
  font-weight: 700;
  color: #e5e0e9;
  text-align: center;
  box-shadow: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.btn:hover {
  color: white;
}

.margin-top-0 {

  margin-top: 0 !important;
}

footer.footer {
  padding: 3rem 0rem 0rem;
}


.menu-label {

  font-size: 1em !important;
  text-align: left;
}
.menu-list {

  list-style: none !important;
  text-align: left;
}
.social {

  padding: 2em
}
.social a {

  padding: .5em .5em .3em .5em;
  border-radius: 1em;
  background-color: $white-ter;
  margin: .5em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  display: inline;
}

@import "~bulma";


// responsiveness
+tablet-only 
  .blog-list-item .featured-thumbnail {
    flex-basis: 50%;
}

+mobile
  .blog-list-item header {

    display: block
  }
  .blog-list-item .featured-thumbnail {

    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
  }

@media screen and (min-width: $mediumBreakpoint) {

  .grid-container:not(.is-desktop) {
    display: flex;
    flex-flow: column wrap;
    margin-left: -8px; /* Adjustment for the gutter */
    width: 100%;
    justify-content: space-between;
  }

}

@media screen and (max-width: $smallBreakpoint) {
  .section {
    padding: 0!important;
  }
}