// Config vars
$general: #8048f3;
$offer: #6ac1e5;
$request: #ef4822;
$info: #057A8F;
$dark-purple: #422260;
$bright-purple:  #8048f3;
$gray-purple: #665f6d;

$primary: $dark-purple;
$primary-invert:  #fff;
$body-color: #180c22;
$black: #2b2523;