
.header .subtitle {
    width: 55%;
    color: #effdff;
    filter: drop-shadow(4px 0px 4px black);
}

.header-overlay {
  display: flex;
  height: 100%;
  padding: 40px 0;
  width: 100%;
  line-height: 1;
  background: #44087f85;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.tell-story-container {
    text-align: center;
    padding: 2em;
    background: #44246124;
}