@import './colors.scss';

.header .subtitle {
    width: 55%;
    color: #effdff;
    filter: drop-shadow(4px 0px 4px black);
}

.tell-story-container {
    text-align: center;
    padding: 2em;
    background: #44246124;
}

.navbar-burger {
  color: white;
}

.about-page a {
  color: $bright-purple;
}