@import './all.scss';

.card-container {
    margin: 0 8px 8px 0; /* Some gutter */
    padding: 0!important;
    .post-meta {
        box-shadow: 0 0.5em 1em -0.125em rgba(43, 37, 35, 0.1), 0 0px 0 1px rgba(43, 37, 35, 0.02);
        min-height: 470px;

    }
}

@media screen and (min-width: $mediumBreakpoint) { 
    .card-container {
        width: 50%;
    }

}

@media screen and (min-width: $largeBreakpoint) { 
    .card-container {
        width: 33%;
    }

}