@import './colors.scss';

.story-wall {
  min-height: 200vh;
}
// blog roll

.blog-list-item header {

  display: flex;
  margin-bottom: 1em;
}
.blog-list-item .featured-thumbnail {

  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}
.box {

  padding: 0!important;
}
.title:not(.is-spaced) + .subtitle {

  margin-top: 0!important;
}
.post-meta {

  width: 100%;
  padding: 20px;
}


/* with flexbox */
.story-wall {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 1;
  flex-grow: 0;
  width: 100%;
}

/* 1 columns by default, hide columns 2 & 3 & 4 */
.grid-col--2, .grid-col--3, .grid-col--4 { display: none }

@media ( min-width: 768px ) {
    .grid-col {
    width: 50%;
  }
  .grid-col--2 { display: block; } /* show column 2 */
}

/* 3 columns at medium size */
@media ( min-width: 1208px ) {
  .grid-col {
    width: 33%;
  }
  .grid-col--4 { display: block; } /* show column 4 */
}

/* 4 columns at large size */
@media ( min-width: 1680px ) {
  .grid-col {
    width: 25%;
  }
  .grid-col--3 { display: block; } /* show column 3*/
}